<h1>Collaborateur</h1>
<div ng-controller="OffreCtrl">
  <button ng-click="voirOffres()" ui-sref-active="active" class="btn btn-primary" >Liste offres</button><br><br>
  <button ui-sref="ajoutOffre" ui-sref-active="active" class="btn btn-primary" >Ajouter une offre</button><br><br>
</div>
<div ng-controller="MessageCtrl">
  <button ng-click="repMessage()" ui-sref-active="active" class="btn btn-primary" ng-model="obj.id" value="SR">Repondre aux messages</button><br><br>
  <button ng-click="voirQuestions()" ui-sref-active="active" class="btn btn-primary" >Liste des questions</button><br><br>
</div>
</div>
<div ng-controller="MainCtrl">
  <button ng-click="userListe()" ui-sref-active="active" class="btn btn-primary" >Liste des profils</button><br><br>
</div>
