<h1>Liste de questions</h1>
<div ng-controller="MessageCtrl">

<!--
     <p>id <input type="text" ng-model="obj.id"/></p>

    <button ng-click="position()">Afficher le msg</button>
  -->

  <form>
    <div class="list-group">
      <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date</th>
            <th scope="col">Question</th>
            <th scope="col">Reponse</th>
        </tr>
        </thead>
        <tr ng-repeat="message in questions">
            <td scope="col">{{ message.id }}</td>
            <td scope="col">{{ message.idAuteur }}</td>
            <td scope="col">{{ message.horodatage }}</td>
            <td scope="col">{{ message.contenu }}</td>
            <td scope="col">{{ message.reponse }}</td>
        </tr>      
      </table>
    </div>
  </form>
</div>